.user_list_container {
  margin-top: 2rem;

  .user_list {
    display: grid;
    gap: 0.75rem;
    background: lightgray;
    padding: 0.75rem;
    border-radius: 5px;
  }

  .loading_container {
    margin-top: 1rem;
    text-align: center;

    .load_btn {
      font-size: 1rem;
      text-transform: uppercase;
      color: blue;
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }
}
